.profile{
text-align: center;
}
.profile-left{
    display: inline-block;
    vertical-align: top;
    width:20%;
    background: rgb(223, 245, 255);
    padding:10px 20px;
    border: 1px solid #03A9F4;
    text-align: left;
}
.profile-left .ava{
    border:1px solid;
}
.profile-left .ava img{
    width:100%;
}
.profile-right{
    display: inline-block;
    vertical-align: top;
    width:62%;
    background: rgb(255, 243, 196);
    padding:10px 20px;
    border: 1px solid #FFC107;
    text-align: left;
}
.full-info{
    width:49%;
    display: inline-block;
    vertical-align: top;
}
.change-info{
    width:49%;
    display: inline-block;
    vertical-align: top;
}

.login{
    display: block;
    margin: 0 auto;
    width:300px;
    background: rgb(223, 245, 255);
    padding:10px 20px;
    border: 1px solid #03A9F4;
    text-align: left;
}

.login input{
    width:100%;
}
.error-box{
    background: #ffd1d1;
    border: 1px solid red;
    padding: 10px 15px;
}
.error-box p{margin: 0;}
.register{
    display: block;
    margin: 0 auto;
    width:300px;
    background: rgb(223, 245, 255);
    padding:10px 20px;
    border: 1px solid #03A9F4;
    text-align: left;
}
.register input{
    width:100%;
}